@model Budgeter.Models.Account

@{
    ViewBag.Title = "Details";
    ViewBag.AccountId = Model.Id;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Transactions in @Html.Label(Model.Name)</h2>
            <a href="@Url.Action("Details", "Households", new { id = Model.HouseholdId})"><h4><i class="fa fa-home"></i> @Html.Label(Model.Household.Name)</h4></a>
        </div>
        <div class="col-md-6 well">
            <div class="row">
                <div class="col-md-6 ">
                    <h4>Balance</h4>
                    <br />
                    @Html.DisplayFor(model => model.Balance)
                </div>
                <div class="col-md-6">
                    <h4>Reconciled</h4>
                    <br />
                    @Html.DisplayFor(model => model.ReconciledBalance)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Reconciled</th>
                        <th>Updated By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Edit", "Transactions", new { id = transaction.Id})"><i class="fa fa-fw fa-edit"></i></a>
                                <a href="@Url.Action("Delete", "Transactions", new { id = transaction.Id, AccountId = transaction.AccountId })"><i class="fa fa-fw fa-trash"></i></a>
                                <a href="@Url.Action("Void", "Transactions", new { id = transaction.Id, AccountId = transaction.AccountId })"><i class="fa fa-fw fa-ban"></i></a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => transaction.Date)</td>
                            <td>@Html.DisplayFor(modelItem => transaction.Description)</td>
                            <td>@Html.DisplayFor(modelItem => transaction.BudgetItem.Name)</td>
                            <td>@Html.DisplayFor(modelItem => transaction.TransactionType)</td>
                            <td>@Html.DisplayFor(modelItem => transaction.Amount)</td>
                            <td>@Html.DisplayFor(modelItem => transaction.Reconciled)</td>
                            <td>@Html.DisplayFor(modelItem => transaction.EnteredByUser)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <p>
            <a href="@Url.Action("Create", "Transactions", new { accountId = Model.Id })" role="button" class="btn btn-primary">Add Transaction</a>
            <a href="@Url.Action("Details", "Households", new { id = Model.HouseholdId})" role="button" class="btn btn-default"><i class="fa fa-fw fa-home"></i>Back to Household</a>
        </p>
    </div>
</div>

<hr />
@section scripts{

    <!--DataTables-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $('.table').DataTable();
    </script>
}