@model Budgeter.Models.Budget

@{
    ViewBag.Title = "Details";
    ViewBag.BudgetId = Model.Id;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Items in @Html.Label(Model.Name)</h2>
            <a href="@Url.Action("Details", "Households", new { id = Model.HouseholdId})"><h4><i class="fa fa-home"></i> @Html.Label(Model.household.Name)</h4></a>
        </div>
        <div class="col-md-6 well">
            <div class="row">
                <div class="col-md-6">
                    <h4>Budget Total</h4>
                    <br />
                    @Html.DisplayFor(Model => Model.Amount)
                </div>
                <div class="col-md-6">
                    <h4>Expenses</h4>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row"></div>
</div>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.household.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
