@model Budgeter.Models.Budget

@{
    ViewBag.Title = "Budget";
    ViewBag.BudgetId = Model.Id;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>@Html.Label(Model.Name)</h2>
            <a href="@Url.Action("Edit", "Budgets", new { id = Model.Id }, "")" role="button" class="btn btn-xs"><i class="fa fa-fw fa-edit"></i>Rename Budget</a>
            <a href="@Url.Action("Details", "Households", new { id = Model.HouseholdId})"><h4><i class="fa fa-home"></i> @Html.Label(Model.household.Name)</h4></a>
        </div>
        <div class="col-md-6 well">
            <div class="row">
                <div class="col-md-6">
                    <h4>Budget Total</h4>
                    <br />
                    @Html.DisplayFor(Model => Model.Amount)
                </div>
                <div class="col-md-6">
                    <h4>Expenses</h4>
                    <br />
                    <p>
                        $@ViewBag.TotalExpenses
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Frequency</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BudgetItems)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("EditBudgetItem", "Budgets", new { id = item.Id})"><i class="fa fa-fw fa-edit"></i></a>
                                <a href="@Url.Action("DeleteBudgetItem", "Budgets", new { id = item.Id})"><i class="fa fa-fw fa-trash"></i></a>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Amount</td>
                            <td>@item.Frequency</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <a href="@Url.Action("AddBudgetItem", "Budgets", new { budgetId = Model.Id }, "")" role="button" class="btn btn-primary">Add Budget Item</a>
        <a href="@Url.Action("Details", "Households", new { id = Model.HouseholdId})" role="button" class="btn btn-default"><i class="fa fa-fw fa-home"></i>Back to Household</a>
    </div>
</div>

@section scripts{

    <!--DataTables-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $('.table').DataTable();
    </script>
}