@model Budgeter.Models.Household
@{
    ViewBag.Title = "Dashboard";
}
@*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">*@

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <br />
            <h2>Welcome to HouseFin </h2>
            <h4>a Budget application</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><i class="fa fa-home"></i> @ViewBag.HouseholdName</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bank fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.AccountsCount</div>
                            <div>Accounts</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Details","Households", new { id = Model.Id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-child fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.MemberCount</div>
                            <div>Members</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Details","Households", new { id = Model.Id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><h4>$@ViewBag.BudgetedExpenses</h4></div>
                            <div>Budgeted Expenses</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index","Budgets")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><h4>@ViewBag.AccountAmount</h4></div>
                            <div>@ViewBag.AccountName</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Details", "Households", new { id = Model.Id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Budget Items Stats
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="budgetItemChart" style="height:300px">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            
            <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>


@section scripts{   
     <script type="text/javascript">
        Morris.Bar({
            element: 'budgetItemChart',
            data: [
              { y: '@ViewBag.BudgetItemName[0]', a: @ViewBag.BudgetItemAmount[0], b:  @ViewBag.BudgetItemExpense[0] },
              { y: '@ViewBag.BudgetItemName[1]', a: @ViewBag.BudgetItemAmount[1], b:  @ViewBag.BudgetItemExpense[1] },
              { y: '@ViewBag.BudgetItemName[2]', a: @ViewBag.BudgetItemAmount[2], b:  @ViewBag.BudgetItemExpense[2] },
              { y: '@ViewBag.BudgetItemName[3]', a: @ViewBag.BudgetItemAmount[3], b:  @ViewBag.BudgetItemExpense[3] },
              { y: '@ViewBag.BudgetItemName[4]', a: @ViewBag.BudgetItemAmount[4], b:  @ViewBag.BudgetItemExpense[4] },
              { y: '@ViewBag.BudgetItemName[5]', a: @ViewBag.BudgetItemAmount[5], b:  @ViewBag.BudgetItemExpense[5] }
              
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Budgeted', 'Actual']
        });

        $(document).ready(function () {
            $.post('@Url.Action("GetChart", "Home")').then
                (function (response) {
                    new Morris.Bar({
                        element: 'budgetItemChart',
                        data: response,
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['Budgeted', 'Actual'],
                        labelColor: '#060',
                        barColors: ['#438eb9', '#d15b47']
                    });
                });
        });



</script>

}