@model Budgeter.Models.Household

@{
    ViewBag.Title = "Create";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Create or Join a Household</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 content">
            <p>Give your new Household a name</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Create Household" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
            <hr />
            <a href="@Url.Action("JoinHousehold")" role="button" class="btn btn-success"><h5>If you have an Invitation Code, you can enter it here.</h5></a>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>About Households</h4>
                </div>
                <div class="panel-body">
                    <p>Households are how we group accounts and users.</p>
                    <p>Each user belongs to only one household, but the household can have many users.</p>
                    <p>Each user in your household has full access to all account data.</p>
                </div>

            </div>
        </div>
    </div>
        
    
</div>

