@model Budgeter.Models.Household

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <h2>Household: @Html.DisplayFor(model => model.Name)</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Members</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
            <dl>
                @{ foreach (var user in Model.Users)
                    {
                        <dt>
                            @Html.Display(user.FirstName + user.LastName)

                        </dt>
                        <dd>
                            @Html.Display(user.Email)
                        </dd>
                    }
                }
            </dl>
        </div>

        <div class="col-md-4 panel panel-primary">
            <div class="panel-heading">
                About Households
            </div>
            <div class="panel-body">
                <p>Households are how we group accounts and users.</p>
                <p>Each user belongs to only one household, but the household can have many users.</p>
                <p>Each user in your household has full access to all account data.</p>
            </div>

        </div>
    </div>
    <div class="row">
        <h4>Accounts</h4>
        @foreach (var account in Model.Accounts)
            {
                <p>
                    @Html.DisplayFor(modelItem => account.Name)
                    @Html.DisplayFor(modelItem => account.Balance)
                </p>
            }
        
    </div>
    <div class="row">
        <a href="@Url.Action("Create", "Accounts", new { HouseholdId = Model.Id }, "")" role="button" class="btn btn-success">Add a Bank Account</a>
        <a href="@Url.Action("Index", "Accounts", new { householdId = Model.Id }, "")" role="button" class="btn btn-primary">View Bank Accounts</a>
    </div>

    <div class="row">
        @Html.Partial("_InvitationPartial", new Budgeter.Models.Invitation())
        @ViewBag.InvitationSent
    </div>
    <div class="row">
        <h4>Leave</h4>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>