@model Budgeter.Models.Household

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <h2>Household: @Html.DisplayFor(model => model.Name)</h2>
        <a href="@Url.Action("Edit", "Households", new { id = Model.Id }, "")" role="button" class="btn btn-xs"><i class="fa fa-fw fa-edit"></i></a>

        @if (User.IsInRole("Admin"))
        { @Html.ActionLink(" | Back to List", "Index")}
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Members</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
        </div>

        <div class="col-md-4 panel panel-primary">
            <div class="panel-heading">
                About Households
            </div>
            <div class="panel-body">
                <p>Households are how we group accounts and users.</p>
                <p>Each user belongs to only one household, but the household can have many users.</p>
                <p>Each user in your household has full access to all account data.</p>
            </div>

        </div>
    </div>
    <div class="row">
        <h4>Accounts</h4>
        @foreach (var account in Model.Accounts)
            {
            <p>
                @Html.DisplayFor(modelItem => account.Name)
                @Html.DisplayFor(modelItem => account.Balance)
            </p>
        }

    </div>
    <div class="row">
        <a href="@Url.Action("Create", "Accounts", new { HouseholdId = Model.Id }, "")" role="button" class="btn btn-success">Add a Bank Account</a>
        <a href="@Url.Action("Index", "Accounts", new { householdId = Model.Id }, "")" role="button" class="btn btn-primary">View Bank Accounts</a>
    </div>

    <div class="row">
        @Html.Partial("_InvitationPartial", new Budgeter.Models.Invitation())
        @ViewBag.InvitationSent
    </div>
    <div class="row">
        <h4>Leave</h4>
    </div>
</div>